language: node_js
branches:
    only:
        - master
sudo: false
before_script:
    - npm install -g bower polymer-cli wct
    - bower install
node_js: stable
addons:
    firefox: latest
    apt:
        sources:
            - google-chrome
        packages:
            - google-chrome-stable
script:
    - polymer build
    - xvfb-run wct
    - bash <(curl -s https://codecov.io/bash)
